.content.shadow
  .collection
    %h1
      Коллекция пользователя
      %strong= @username
    - @collection.items.each do |col|
      .block
        .entry
          = image_tag col.image.url(:medium)
          %p= col.description
          %p= link_to col.link, col.link, :target => "_blank"
          .edit-line
/= render partial: 'collection', locals: { title_collection: 'Медиа-коллекция пользователя' }
